.additional-product {
  padding-top: 12px;
  padding-bottom: 18px;

  border-bottom: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    padding: 22px 37px 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 15.5px 0;
  }
}

.additional-product__title {
  display: block;

  color: #222222;
  font-size: 16px;
  text-transform: uppercase;

  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-product__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;

    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    width: 68.6%;
    margin-bottom: 0;
  }
}

.additional-product__name {
  @media (min-width: $desktop-width) {
    min-width: 130px;
  }
}

.additional-product__value {
  @media (min-width: $tablet-width) {
    min-width: 38px;
    margin-left: 53px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    min-width: 45px;
    margin-left: 110px;

    text-align: left;
  }
}

.additional-product__info {
  display: flex;
  justify-content: space-between;

  font-family: $arial;
  font-size: 14px;
  color: $text-black;

  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 8px;
  }
}

.additional-product__btn {
  font-size: 16px;


  @media (min-width: $desktop-width) {
    width: 27%;
  }
}
