.banner {
  position: relative;

  padding-top: 27px;

  color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 38px;

    color: $title-black;
    text-align: left;
  }
}

.banner__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;

  width: 100%;
  height: 305px;

  background-color: $bg-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: top center;

  @media (min-width: $tablet-width) {
    background-color: $white;
    background-image: none;
  }

  @media (min-width: $desktop-width) {
    left: auto;
    right: 0;

    height: 100%;
    width: 50%;

    background: url("../img/index-background-desktop@1x.jpg"), $bg-green;
    background-repeat: no-repeat;
  }
}

.banner__content {
  position: relative;

  @media (min-width: $desktop-width) {
    display: flex;
    margin-top: 102px;
    padding-bottom: 47px;
  }
}

.banner__title {
  margin-bottom: 22px;

  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;

    font-size: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 80px;
  }
}

.banner__slogan {
  margin-bottom: 25px;

  font-size: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 36px;
    margin-bottom: 20px;
  }
}

.banner__btn {
  @media (min-width: $tablet-width) {
    position: absolute;
    left: 87px;
    top: 229px;

    padding: 14px 28px;
    width: auto;

    @media (min-width: $desktop-width) {
      top: auto;
      left: 88px;
      bottom: 187px;
    }
  }
}

.banner__img {
  @media (min-width: $desktop-width) {
    margin-left: -36px;
    height: 501px;
    width: 579px;
  }
}

.banner__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 87px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 88px;
  }
}
