.button {
  @include reset-button;
  padding: 11px 25px;
  width: 100%;

  color: $white;
  font-size: 14px;
  font-family: $main-font;
  text-transform: uppercase;

  background-color: $main-green;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}
