.catalog {
  @media (min-width: $desktop-width) {
    margin-top: 187px;
  }
}

.catalog__title {
  padding: 26px 20px 40px;

  border-top: 1px solid $border-light-grey;
  border-bottom: 1px solid $border-light-grey;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 38px 30px 26px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    margin: 0 110px 20px;
  }
}

.catalog__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
  }
}

.catalog__item {
  padding: 0 20px 22px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: column;
    flex: 0 0 calc(50% - 30px);
    width: calc(50% - 30px);
    margin-top: 140px;
    padding: 0 38px 40px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 calc(25% - 59px);
    width: calc(25% - 59px);
    margin-top: 146px;
    padding: 0 40px 37px;
  }
}
