.example {
  background: $gray;
  padding-top: 33px;
  padding-bottom: 38px;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to top, $gray, $gray 41%, white 41%, white 100%);
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;

    background: linear-gradient(to top, $gray, $gray 70%, white 70%, white 100%);
  }
}

.example__title {
  margin-bottom: 33px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }
}

.example__description {
  padding-right: 10px;
  margin-top: 0;
  margin-bottom: 27px;

  font-size: 14px;
  font-family: $arial;

  @media (min-width: $tablet-width) {
    margin-bottom: 54px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 142px;
  }
}

.example__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.example__result {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    flex: 0 0 calc(50% - 16px);
  }
}


.example__result-item {
  position: relative;
  border: 1px solid $border-grey;
  flex: 0 0 calc(50% - 16px);

  @media (min-width: $tablet-width) {
    & + & {
      margin-left: 42px;
    }
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 calc(50% - 22px);
  }
}

.example__result-count {
  display: block;
  padding-top: 12px;
  padding-bottom: 18px;

  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  line-height: 1;

  @media (min-width: $tablet-width) {
    padding-top: 19px;
    padding-bottom: 22px;

    font-size: 30px;
    width: 155px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
  }
}

.example__result-label {
  position: absolute;
  left: 50%;
  bottom: -15px;

  width: 70%;
  padding: 0 10px;

  font-family: $arial;
  font-size: 12px;
  text-align: center;
  line-height: 1;

  transform: translateX(-50%);
  background: $gray;

  @media (min-width: $tablet-width) {
    bottom: -6px;

    width: auto;

    white-space: nowrap;
    font-size: 14px;

    background: $white;
  }
}

.example__cost {
  display: block;
  margin: 0;

  font-size: 14px;
  color: $title-black;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    flex: 0 0 calc(50% - 16px);

    margin-bottom: 0;
    margin-top: 7px;

    font-size: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.example__price {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: contents;
  }
}

.example__changes {
  margin: 0 -20px;

  @media (min-width: $tablet-width) {
    margin: 28px 0 0;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 calc(50% - 65px);

    margin-top: 0;
  }
}

.example__container {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.example__range {
  display: flex;
  justify-content: center;

  margin-top: 30px;
}

.example__range-progress {
  max-width: 84px;
  margin-right: 18px;
  margin-left: 18px;

  input {
    max-width: 100%;
  }
}

.example__range-label {
  text-transform: uppercase;
}
