.food-type {
  margin-top: 22px;
  margin-bottom: 32px;

  @media (min-width: $desktop-width) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

.food-type__list {
  @include reset-list;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.food-type__item {
  & + & {
    margin-top: 20px;
  }

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  padding: 22px;

  background-color: $gray;

  @media (min-width: $tablet-width) {
    position: relative;

    padding: 81px 285px 62px 53px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    flex: 0 0 calc(50% - 40px);
    padding: 47px 56px 62px 53px;

    & + & {
      margin-top: 0;
    }
  }
}

.food-type__title {
  @include reset-title;

  color: $title-black;
  font-size: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 53px;
  }
}

.food-type__icon {
  position: relative;

  height: 50px;
  width: 50px;
  margin-right: 20px;

  background-color: $main-green;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    position: absolute;
    right: 62px;

    height: 200px;
    width: 200px;
    margin-right: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: block;
    width: 67px;
    height: 50px;

    background-repeat: no-repeat;
    background-position: center center;

    @media (min-width: $tablet-width) {
      width: 268px;
      height: 194px;
    }

    @media (min-width: $desktop-width) {
      width: 134px;
      height: 97px;
    }
  }

  @media (min-width: $desktop-width) {
    position: relative;
    right: 0;

    height: 100px;
    width: 100px;
  }

  &--slim {
    &::before {
      background-image: url("../img/icon-cat-slim.svg");

      @media (min-width: $tablet-width) {
        transform: translate(-50%, calc(-50% - 18px));
      }
    }
  }

  &--pro {
    &::before {
      background-image: url("../img/icon-cat-pro.svg");
    }
  }
}

.food-type__description {
  flex-basis: 100%;
  margin: 24px 0;

  font-family: $arial;
  font-size: 14px;
  color: $text-black;

  @media (min-width: $tablet-width) {
    margin: 26px 0 61px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin: 26px 0 37px;
  }
}

.food-type__link {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 20px;

  color: $title-black;
  font-size: 16px;
  text-transform: uppercase;

  border-top: 1px solid $border-grey;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    font-size: 20px;
    border: none;
  }

  &::after {
    content: "";
    display: block;
    height: 12px;
    width: 25px;

    margin-left: 14px;

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}
