.how-it-works {
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    margin-bottom: 74px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 93px;
  }
}

.how-it-works__title {
  margin-bottom: 35px;

  color: $title-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 73px;
  }
}

.how-it-works__list {
  @include reset-list;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    margin: -64px -69px;
    padding-bottom: 40px;

    border-bottom: 1px solid $border-light-grey;
  }

  @media (min-width: $desktop-width) {
    margin: -36px -40px;
    padding-bottom: 0;

    border: none;
  }
}

.how-it-works__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    position: relative;
    display: block;

    width: 245px;
    margin: 64px 69px;

    counter-increment: myCounter;

    &::after {
      content: counter(myCounter);

      position: absolute;
      top: 0;
      right: 0;
      z-index: 0;

      font-size: 280px;
      line-height: 0.73;
      color: $gray;
    }

    &:first-child::after {
      right: 15px;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 36px 40px;
  }

  &::before {
    content: " ";

    display: block;
    flex: 0 0 60px;
    height: 60px;
    width: 60px;

    margin-right: 20px;

    background-position: center;
    background-repeat: no-repeat;
    background-color: $main-green;

    @media (min-width: $tablet-width) {
      height: 80px;
      width: 80px;
    }
  }

  &--contains::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--produced::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--meals::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--changes::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.how-it-works__description {
  margin: 0;

  font-size: 14px;
  font-family: $arial;
  color: $text-black;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 1;

    margin-top: 34px;

    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 31px;
  }
}
