.main-nav {
  &--closed .site-list__item {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  &--nojs .site-list__item {
    display: block;
  }

  &--opened {
    margin-top: 20px;

    @media (min-width: $tablet-width) {
      margin-top: 0;
    }
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    margin-top: 0;
    display: block;
  }
}

.main-nav__toggle {
  position: absolute;
  top: 38px;
  right: 20px;

  @include reset-button;
  font-size: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";

  position: relative;
  top: -13px;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #222222;
  box-shadow: 0 8px 0 0 #222222, 0 16px 0 0 #222222;
}
