.map {
  //background-image: url("../img/bg-map-mobile@1x.png");
  //background-repeat: no-repeat;
  //background-size: cover;

  height: 363px;
  display: block;

  @media (min-width: $tablet-width) {
    height: 395px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}
