.page-header {
  display: block;
  position: relative;

  padding: 11px 0 15px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 30px 15px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    position: absolute;
    z-index: 10;

    padding: 50px 110px 15px;
  }
}

.page-header__logo-link {
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.page-header__logo {
  height: 39px;
  width: 191px;

  @media (min-width: $tablet-width) {
    height: 59px;
    width: 174px;
  }

  @media (min-width: $desktop-width) {
    height: 62px;
    width: 203px;
  }
}
