.program-form {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 160px;
  }
}

.program-form__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 70px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.program-form__title {
  @include reset-title;

  padding: 30px 20px 35px;

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.program-form__description {
  margin-bottom: 39px;

  text-transform: uppercase;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 53px;
  }
}

.program-form__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.program-form__item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.program-form__label {
  font-size: 16px;
  color: $title-black;
  white-space: nowrap;
  text-transform: uppercase;

  margin-right: 16px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }
}

.program-form__radio {
  margin-right: 16px;
}

.program-form__field {
  padding: 10px 0 10px 16px;
  flex-grow: 1;

  border: 1px solid $border-grey;

  &::placeholder {
    text-transform: uppercase;
    color: $text-black;
  }

  @media (min-width: $tablet-width) {
    padding: 17px 20px;
  }
}

.program-form__block {
  margin-bottom: 31px;

  &--bordered {
    border-bottom: 1px solid $border-light-grey;
    border-top: 1px solid $border-light-grey;

    padding: 21px 20px;
    margin: 0 -20px;

    @media (min-width: $tablet-width) {
      border: 1px solid $border-light-grey;
      margin: 0;
    }
  }

  &--width {
    @media (min-width: $desktop-width) {
      flex: 0 0 calc(50% - 40px);
      max-width: calc(50% - 40px);
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 70px;
  }
}

.program-form__subtitle {
  font-size: 24px;
  color: $title-black;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 36px;
  }
}

.program-form__extra {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.program-form__extra-item {
  @media (min-width: $tablet-width) {
    flex: 0 0 calc(50% - 30px);
  }
}

.program-form__comment {
  height: 150px;
  width: 100%;

  padding: 10px 14px;
  resize: none;
  border: 1px solid $border-grey;

  &::placeholder {
    text-transform: uppercase;
    color: $text-black;
  }
}

.program-form__checkbox {
  margin-right: 16px;
}

.program-form__required {
  display: block;
  margin-top: 23px;

  font-size: 14px;
  color: $text-black;
  font-family: $arial;
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
    flex: 0 0 calc(50% - 30px);
  }
}

.program-form__btn {
  @media (min-width: $tablet-width) {
    flex: 0 0 calc(50% - 30px);
  }
}
