.show-more {
  padding-top: 26px;
  padding-bottom: 25px;

  border-bottom: 1px solid $border-light-grey;

  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    border: 1px solid $gray;
    padding-top: 55px;
    padding-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 37px 40px;
  }
}

.show-more__title {
  font-size: 16px;
  color: $title-black;
  text-transform: uppercase;

  margin-top: 22px;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-top: 44px;
    line-height: 1;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    margin-top: 45px;
  }
}

.show-more__description {
  display: block;

  font-size: 12px;
  font-family: $arial;
  color: $text-black;

  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    margin-top: 27px;
    line-height: 1.15;
  }

  @media (min-width: $desktop-width) {
    font-size: 16px;
    margin-top: 28px;
  }
}

.show-more__btn {
  background-color: $gray;
  color: $text-black;
  font-size: 16px;
}

.show-more__content {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 179px;
  }

  @media (min-width: $desktop-width) {
    width: 167px;
  }


  &::before {
    content: "";
    display: block;

    margin: 0 auto;
    height: 31px;
    width: 31px;

    background-image: url("../img/icon-plus-mobile.svg");

    @media (min-width: $tablet-width) {
      height: 61px;
      width: 61px;

      background-image: url("../img/icon-plus.svg");
      opacity: 0.2;
    }
  }
}
