.сontact-details {
  padding: 0 20px;
  margin-bottom: 24px;

  @media (min-width: $tablet-width) {
    padding-left: 71px;
    padding-right: 68px;
    margin-top: 74px;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    margin-top: 62px;
    margin-bottom: 0;
  }
}

.сontact-details__item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 calc(50% - 40px);
    width: calc(50% - 40px);
  }
}

.сontact-details__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}
