html,
body {
  margin: 0;
  padding: 0;
  background: $white;

  font-family: $main-font;
  line-height: 1.29;

  box-sizing: border-box;
  overflow-x: hidden;

  * {
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) {
    line-height: 1.5;
  }
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
